@mc:registry=https://mc-components-252355243038.d.codeartifact.us-east-1.amazonaws.com/npm/main/
//mc-components-252355243038.d.codeartifact.us-east-1.amazonaws.com/npm/main/:always-auth=true
//mc-components-252355243038.d.codeartifact.us-east-1.amazonaws.com/npm/main/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
