registry=https://mc-domain-252355243038.d.codeartifact.us-east-1.amazonaws.com/npm/mc-components/
//mc-domain-252355243038.d.codeartifact.us-east-1.amazonaws.com/npm/mc-components/:always-auth=true
//mc-domain-252355243038.d.codeartifact.us-east-1.amazonaws.com/npm/mc-components/:_authToken=${CODEARTIFACT_AUTH_TOKEN}