# Este archivo CODEOWNERS define los propietarios de los archivos en el repositorio
# Patrón de coincidencia: /ruta/del/archivo código propietario(s)
# Ejemplo:

# Todos los archivos iniciales a partir del root del proyecto
./ @hmorales